/* Reset CSS basique */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




@font-face {
  font-family: "MaPolice";          /* nom que tu utiliseras dans ton CSS */
  src: url("../IBM.ttf") format("truetype");
}

@font-face {
  font-family: "MaPoliceLight";          /* nom que tu utiliseras dans ton CSS */
  src: url("../IBM Light.ttf") format("truetype");
}



body {
  background-color: black;
  font-family: monospace;
  height: 100vh;
  overflow: hidden;
  transition: background-color 1s ease;
  cursor: none;

}

html, body {
  overflow-x: hidden;
  overflow-y: hidden;
}

#custom-cursor {
  position: fixed;
  pointer-events: none; /* pour ne pas bloquer les clics */
  width: 10px;
  height: 20px;
  background: white;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 9999;
  
}




.input-field.hidden {
  opacity: 0;
  pointer-events: none;
}

.input-field.visible {
  opacity: 1;
  pointer-events: auto;
}




.ensemble {
    margin-top: 2%;
    font-family: monospace;

}

.ensemble::selection {
    background: white; /* pas de surlignage */
    color: black;           /* texte blanc */
}



.input-field input,
.input-field textarea {
  font-family: monospace;
    width: 50%;
    padding: 10px;
    background: transparent;  /* rien à l'intérieur */
    color: white;             /* texte blanc si besoin */
    font-size: 16px;
    outline: none;
    overflow: hidden; /* cache la scrollbar */
    resize: none;
    cursor: default;
    border: none;


}


/* Tablette */
@media (max-width: 900px) {
.input-field input,
.input-field textarea {
    width: 80%;
  }
}

/* Mobile */
@media (max-width: 600px) {
.input-field input,
.input-field textarea {
    width: 80%;
  }
}






.input-field input:focus,
.input-field textarea:focus { 
    border: 1px solid #ffffff; /* bordure fine blanche */

}


.input-field textarea {
    height: 400px; /* hauteur pour la zone de texte */
}



.input-field input::placeholder,
.input-field textarea::placeholder {
    color: rgb(87, 87, 87); /* pas de texte de placeholder */
}

.input-field {
    margin-bottom: 15px; /* espacement entre les champs */
    margin-left: 20%;
    
}








.boutons {
    margin-left: 20%;
    display: flex;
    gap: 30%;
    
}

/* Tablette */
@media (max-width: 900px) {
.boutons {
    gap: 30%;
  }
}

/* Mobile */
@media (max-width: 600px) {
.boutons {
    gap: 25%;
  }
}




.boutons button{
    font-size: 2rem;
    font-family: monospace;
    border: none;
    outline: none;
    background-color: transparent;

}

/* Tablette */
@media (max-width: 900px) {
.boutons button {
    font-size: 1.5rem;
  }
}

/* Mobile */
@media (max-width: 600px) {
.boutons button {
    font-size: 1.5rem;
  }
}






.animated-text {
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;

  width: 50%;            /* même largeur que l’input */
  height: 100%;

  display: flex;
  align-items: center;   /* centre verticalement comme un vrai placeholder */
  
  padding: 10px;         /* même padding que tes inputs */
  
  pointer-events: none;
  color: #808080;
  font-family: monospace;
}


/* Cas spécial pour le textarea */
.input-field textarea + .animated-text {
  align-items: flex-start;
}















/* Conteneur */
.custom-alert {
    position: fixed;
    bottom: 5%;
    right: 5%;
    background: #000000;
    color: #fff;
    font-family: monospace;
    font-size: 1rem;
    padding: 1.5em 2em;
    border: 1px solid #ffffff;
    z-index: 9999;
    display: none;
    text-align: center;
}

/* Texte lettre par lettre */
.custom-alert-letter {
    display: inline-block;
    opacity: 0;
}
.custom-alert-letter.appear {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: #000000;
}
.custom-alert-letter.after {
    color: #808080;
    background-color: transparent;
}
.custom-alert-letter.disappear {
    opacity: 0;
}

/* Bouton OK */
.custom-alert-ok {
    margin-top: 1em;
    padding: 0.3em 0.8em;
    font-family: monospace;
    cursor: pointer;
    background-color: #808080;
    color: #ffffff;
}
